<!DOCTYPE html>
<html ng-app="MainApp">
  <head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Yin_yang.svg/2000px-Yin_yang.svg.png">
    <title>YouTube Mp3</title>
    <link href="resources/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet">
    <link href="resources/css/youtube.css" rel="stylesheet">
    <style>
      .glyphicon-refresh-animate {
          -animation: spin .7s infinite linear;
          -webkit-animation: spin2 .7s infinite linear;
          margin-left:10px;
        }

        @-webkit-keyframes spin2 {
          from { -webkit-transform: rotate(0deg);}
          to { -webkit-transform: rotate(360deg);}
        }

        @keyframes spin {
          from { transform: scale(1) rotate(0deg);}
          to { transform: scale(1) rotate(360deg);}
        }
              
    </style>
    <script src="resources/js/jquery.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/angular.js"></script>
  </head>
  <body ng-controller="MainController">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TGCRRV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TGCRRV');</script>
    <!-- End Google Tag Manager -->
  <div class="container">
      <form name="musicForm" method="POST" ng-submit="handleMusicRequest(musicQuery)" style="padding-bottom:20px">
        <h2 class="page-header text-center">YouTube Music <span class="glyphicon glyphicon-music"></span></h2>
        <div class="form-group">
          <label class="label-control"><h3>Nombre o URL</h3></label>
          <input ng-model="musicQuery" class="form-control input-lg" name="name" id="name" placeholder="Ingrese un nombre o URL">
        </div>
        <button type="submit" class="btn btn-lg btn-primary">
          Buscar
          <span class="glyphicon glyphicon-search" style="margin-left:10px"></span>
          </button>
        </form>
          
        <div class="well" ng-repeat="logArray in musicRequestLog" style="padding-bottom:40px">
          <a class="btn btn-link pull-right" ng-click="removeItem(logArray, musicRequestLog)"><span class="glyphicon glyphicon-remove"></span></a>
          <h3 ng-repeat="log in logArray">
              {{log.text}}
              <span ng-if="log.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            <div ng-if="!log.show && log" class="text-center">
                <audio ng-if="log.url" ng-src="{{log.url}}" controls="true"></audio>
                <form method="POST" action="/download">
                  <input name="name" ng-model="log.folderName" hidden="true"/>
                  <button type="submit" class="btn btn-lg btn-default pull-right">Descargar<span style="left:10px" class="glyphicon glyphicon-download"></span></button>
                </form>
            </div>
          </h3>
        </div>
  </div>
  <div class="container" sytle="margin:80px auto;max-width:200px">
    <form method="POST" ng-submit="handleVideoRequest(videoQuery)" style="padding-bottom:20px">
        <h2 class="page-header text-center"><span class="glyphicon glyphicon-facetime-video" style="right:5px"></span>YouTube Video</h2>
        <div class="form-group">
          <label class="label-control"><h3>Nombre o URL</h3></label>
          <input ng-model="videoQuery" class="form-control input-lg" name="videoUrl" id="videoUrl" placeholder="Ingrese un nombre o URL">
        </div>
        <button type="submit" class="btn btn-lg btn-primary">
          Buscar
          <span class="glyphicon glyphicon-search" style="margin-left:10px"></span>
        </button>
    </form>
    <div class="well" ng-repeat="logArray in videoRequestLog" style="padding-bottom:40px">
          <a class="btn btn-link pull-right" ng-click="removeItem(logArray, videoRequestLog)"><span class="glyphicon glyphicon-remove"></span></a>
          <h3 ng-repeat="log in logArray">
              {{log.text}}
              <span ng-if="log.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            <div ng-if="!log.show && log" class="text-center">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" ng-src="{{log.url}}"></iframe>
                </div>
                <form method="POST" action="/download">
                  <input name="name" ng-model="log.folderName" hidden="true"/>
                  <button type="submit" class="btn btn-lg btn-default pull-right">Descargar<span style="left:10px" class="glyphicon glyphicon-download"></span></button>
                </form>
            </div>
          </h3>
        </div>
  </div>
  <div class="page-footer" >
    <div>
      <p>Desarrollado por Luis Alberto Saucedo Quiroga</p>
      <p>Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2015</p>
    </div>
    
  </div>
    <script src="resources/js/main.js"></script>
  </body>
</html>
