<!DOCTYPE html>
<html ng-app="MainApp">
  <head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Yin_yang.svg/2000px-Yin_yang.svg.png">
    <title>YouTube Mp3</title>
    <link href="resources/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet">
    <link href="resources/css/youtube.css" rel="stylesheet">
    <style>
      .glyphicon-refresh-animate {
          -animation: spin .7s infinite linear;
          -webkit-animation: spin2 .7s infinite linear;
        }

        @-webkit-keyframes spin2 {
          from { -webkit-transform: rotate(0deg);}
          to { -webkit-transform: rotate(360deg);}
        }

        @keyframes spin {
          from { transform: scale(1) rotate(0deg);}
          to { transform: scale(1) rotate(360deg);}
        }
              
    </style>
    <script src="resources/js/jquery.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/angular.js"></script>
  </head>
  <body ng-controller="MainController">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-70149906-1', 'auto');
        ga('send', 'pageview');
    </script>
  <div id="mainContent" class="container">
      <form name="musicForm" method="POST" ng-submit="handleMusicRequest(musicQuery)" style="padding-bottom:20px">
        <h2 class="page-header text-center">YouTube Music <span class="glyphicon glyphicon-music"></span></h2>
        <div class="form-group">
          <label class="label-control"><h3>Nombre o URL</h3></label>
          <input ng-model="musicQuery" class="form-control input-lg clearable" name="name" id="name" placeholder="Ingrese un nombre o URL" autofocus>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-lg btn-lgg btn-primary">
            <span class="glyphicon glyphicon-search" style="margin-left:10px"></span>
            Buscar
          </button>
        </div>
        </form>
        <div class="row text-center" ng-show="musicIsLoaded">
          <div id="npTitle"></div>
          <audio id="player" autoplay controls></audio>
          <div class="container" style="padding-bottom:10px">
            <a class="btn btn-lg btn-default col-xs-6" ng-click="previous()"><span class="glyphicon glyphicon-backward"></span> </a>
            <a class="btn btn-lg btn-default col-xs-6" ng-click="next()"><span class="glyphicon glyphicon-forward"></span> </a>
          </div>
          
        </div>
        <div ng-click="playTrack(musicRequestLog.indexOf(logArray))" class="well" ng-repeat="logArray in musicRequestLog" style="cursor:pointer">
          <a class="btn btn-link pull-right" ng-click="removeItem(logArray, musicRequestLog)"><span class="glyphicon glyphicon-remove"></span></a>
          <h3 ng-repeat="log in logArray">
              {{log.text}}
              <span ng-if="log.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            <div ng-if="!log.show && log" class="text-center">
                <!--audio ng-if="log.url" ng-src="{{log.url}}" controls="true"></audio-->
                <form method="POST" action="/download" class="text-right">
                  <input name="name" ng-model="log.folder" hidden="true"/>
                  <button type="submit" class="btn btn-lg btn-lgg btn-default">Descargar<span style="left:10px" class="glyphicon glyphicon-download"></span></button>
                </form>
            </div>
          </h3>
        </div>
  </div>
  <div class="container" sytle="margin:80px auto;max-width:200px">
    <form method="POST" ng-submit="handleVideoRequest(videoQuery)" style="padding-bottom:20px">
        <h2 class="page-header text-center"><span class="glyphicon glyphicon-facetime-video" style="right:5px"></span>YouTube Video</h2>
        <div class="form-group">
          <label class="label-control"><h3>Nombre o URL</h3></label>
          <input type="text" ng-model="videoQuery" class="form-control input-lg clearable" name="videoUrl" id="videoUrl" placeholder="Ingrese un nombre o URL">
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-lg btn-lgg btn-primary">
            <span class="glyphicon glyphicon-search" style="margin-left:10px"></span>
            Buscar
          </button>
        </div>
    </form>
    <div class="well" ng-repeat="logArray in videoRequestLog" style="padding-bottom:90px">
          <a class="btn btn-link pull-right" ng-click="removeItem(logArray, videoRequestLog)"><span class="glyphicon glyphicon-remove"></span></a>
          <h3 ng-repeat="log in logArray">
              {{log.text}}
              <span ng-if="log.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            <div ng-if="!log.show && log" class="text-center">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" ng-src="{{log.url}}"></iframe>
                </div>
                <form method="POST" action="/download">
                  <input name="name" ng-model="log.folder" hidden="true"/>
                  <a class="btn btn-lg btn-default pull-right" ng-click="fullscreen(log.url)">Pantalla Completa<span style="left:10px" class="glyphicon glyphicon-resize-full"></span></a>
                  <button type="submit" class="btn btn-lg btn-lgg btn-default pull-right">Descargar<span style="left:10px" class="glyphicon glyphicon-download"></span></button>
                </form>
            </div>
          </h3>
        </div>
  </div>
  <div class="page-footer" >
    <footer>
      <p>Desarrollado por Luis Alberto Saucedo Quiroga</p>
      <p>Copyleft <span class="glyphicon glyphicon-copyright-mark"></span> 2016</p>
    </footer>
    
  </div>
    <script src="resources/js/main.js"></script>
    <script>
      // CLEARABLE INPUT
      function tog(v){return v?'addClass':'removeClass';} 
      
      $(document).on('input', '.clearable', function(){
          $(this)[tog(this.value)]('x');
      }).on('mousemove', '.x', function( e ){
          $(this)[tog(this.offsetWidth-38 < e.clientX-this.getBoundingClientRect().left)]('onX');
      }).on('touchstart click', '.onX', function( ev ){
          ev.preventDefault();
          $(this).removeClass('x onX').val('').change();
      });
      
      
      function audioLoaded(comp) {
        console.log('audio loaded', comp);
      }
      
      

    </script>
  </body>
</html>
